<app-titlebar></app-titlebar>
<div class="health-condition-container">
  <div class="row">
    <div class="col-4 symptoms-container">
      <div class="row justify-content-center scrollable-container">
        <div
          class="card col-12 pt-1 clickable"
          *ngFor="let symptom of symptoms"
          (click)="getSubClasses(symptom.symptomName.value)"
        >
          <div class="row">
            <div class="col-10">
              <div class="card-image-container text-center">
                <img
                  src="../../../assets/symptoms/{{ symptom.symptomName.value | removeSpace }}.png"
                />
              </div>
              <div class="card-title-container text-center">
                <span>{{ symptom.symptomName.value }}</span>
              </div>
            </div>
            <div class="col-2 vcenter">
              <img
                src="../../../assets/right-arrow.png"
                height="48px"
                width="36px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 symptoms-container">
      <table class="table table-hover">
        <thead>
          <th class="clickable" *ngIf="subLevel > 0" (click)="backToParent()">
            <img src="../../../assets/back.png" height="24px" width="24px" />
          </th>
          <th *ngIf="subLevel === 0"></th>
          <th class="text-center">{{ selectedSymptom }}</th>
          <th></th>
        </thead>
      </table>
      <div class="scrollable-container-anan">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let subsymptom of subSymptoms">
              <td
                class="clickable"
                (click)="
                  addSymptom(
                    subsymptom.symptomName.value,
                    subsymptom.symptomId.value
                  )
                "
              >
                <img src="../../../assets/add.png" height="24px" width="24px" />
              </td>
              <td class="text text-center">
                {{ subsymptom.symptomName.value }}
              </td>
              <td
                class="clickable"
                *ngIf="hasSubClass.includes(subsymptom.symptomName.value)"
                (click)="getSubLevel(subsymptom.symptomName.value)"
              >
                <img
                  src="../../../assets/right-arrow.png"
                  height="24px"
                  width="24px"
                />
              </td>
              <td
                *ngIf="!hasSubClass.includes(subsymptom.symptomName.value)"
              ></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4 symptom-container">
      <div class="scrollable-container-picked">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let picked of healthCondition; let rowIndex = index">
              <td class="text-center severity-column">
                <input
                  type="number"
                  class="form-control"
                  id="severity"
                  placeholder="1-10"
                  [(ngModel)]="picked.severity"
                  name="severity"
                  min="1"
                  max="10"
                />
              </td>
              <td class="text-center align-middle">{{ picked.symptomName }}</td>
              <td
                class="clickable align-middle remove-symptom"
                (click)="removeSymptom(rowIndex)"
              >
                <img
                  src="../../../assets/remove.png"
                  height="24px"
                  width="24px"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 text-center submit-button-container">
        <button
          type="button"
          class="btn btn-outline-info"
          *ngIf="healthCondition.length > 0"
          (click)="submit()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
