app-titlebar {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.health-condition-container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  position: relative;
  width: 100%;
  padding-top: 64px;
}

.symptoms-container {
  height: 100%;
}

.scrollable-container {
  overflow-y: auto;
  height: 100% !important;
}

.scrollable-container-anan {
  overflow-y: auto;
  height: 86vh;
}

.scrollable-container-picked {
  margin-top: 50px;
  overflow-y: auto;
  height: 64vh;
}

.vcenter {
  display: flex;
  align-content: center;
  align-items: center;
}

.submit-button-container {
  padding-top: 120px;
}
