.my-card {
  overflow: hidden;
  height: 100%;
}

.scrollable-container {
  overflow-y: auto;
  height: 90vh;
}

.vcenter {
  display: flex;
  align-content: center;
  align-items: center;
}

.card-subsymptom {
  height: 64px !important;
}
