.my-card {
  overflow: hidden;
  height: 100%;
}

.active {
  background-color: #44bec9;
}

.scrollable-container {
  overflow-y: scroll;
  height: 80vh;
}

.symptom-description {
  padding-top: 50px;
}
